:root {
  --color1: rgba(124, 137, 139, 1); 
  --color2: rgba(99, 101, 100, 1); 
  --color3: rgba(152, 148, 212, 1); 
  --color4: rgba(208, 204, 208, 1); 
  --color5: rgba(251, 252, 255, 1); 
}

#table {
  margin: 20px;
}

#servicesLink {
  background-color: var(--color3);
}

#appointmentsSignInButton {
  background-color: #2196f3;
}