:root {
  --color1: rgba(124, 137, 139, 1); 
  --color2: rgba(99, 101, 100, 1); 
  --color3: rgba(175, 117, 149, 1); 
  --color4: rgba(208, 204, 208, 1); 
  --color5: rgba(251, 252, 255, 1); 
}

#bookButton {
  background-color: #2196f3;
  margin: 5px 5px 5px 5px;
}

#submitButton {
  background-color: #2196f3;
  margin: 5px 5px 5px 5px;
}

#cancelButton {
  background-color: #f44336;
  margin: 5px 5px 5px 5px;
}

#addButton {
    background-color: #4caf50;
    margin-left: 85%;
}