#galleryHeader{
  margin: 100px auto 20px auto;
  font-family: 'Arapey', serif;
}

#galleryDivider{
  width: 95%;
  margin: auto;
}

#addButton{
  margin-top: 20px;
}

#galleryContainer{
  width: 100%;
  min-height: 100vh;
}

#imageContainer{
  width: 90%;
  margin: 25px auto 0 auto;
}

#image{
  width: 100%;
  height: 300px;
}