:root {
  --color1: rgba(124, 137, 139, 1); 
  --color2: rgba(99, 101, 100, 1); 
  --color3: rgba(152, 148, 212, 1); 
  --color4: rgba(208, 204, 208, 1); 
  --color5: rgba(251, 252, 255, 1); 
}

/* General styling */
h1{
  font-size: 4em;
  font-family: 'Arapey', serif;
}

#img-container{
  background-image: url(../../assets/images/homeBackground.jpg);
  height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#inner-container{
  text-align: center;
  background-color: rgba(128, 128, 128, 0.397);
  position: absolute;
  width: 100%;
  color: white;
  height: auto;
  margin-top: 100px;
}

#whiteContainer{
width: 90%;
margin: auto;
background-color: white;
border-radius: 25px;
}

#header{
  margin-top: 75px;
  font-size: 3em;
  font-family: 'Arapey', serif;
  text-decoration: underline;
}

/* About me section */
#aboutMeGrid {
  margin: 50px 50px 0 50px;
  padding-bottom: 50px;
}

#aboutMeBody{
  font-size: 1.2em;
  font-family: 'Arapey', serif;
}

#aboutMeBodyContainer{
  text-align: center;
  height: auto;
}

#aboutMeButton{
  background-color: var(--color3);
  margin-top: 20px;
}

/* Gallery */


/* Responsive */
/* large device */
@media only screen and (max-width: 1000px) {
  #inner-container{
    margin-top: 100px;
  }

  #aboutMeBody{
    font-size: 1.1em;
  }
}

/* Medium device  */
@media only screen and (max-width: 920px) {
  #inner-container{
    margin-top: 100px;
  }

  #aboutMeBody{
    font-size: 1.1em;
  }

  #aboutMeBodyContainer{
    margin-top: 0;
    height: auto;
  }
}

/* Small devices */
@media only screen and (max-width: 775px) {
  #inner-container{
    margin-top: 100px;
  }

  #aboutMeBody{
    font-size: 1.1em;
  }

  #aboutMeBodyContainer{
    margin-top: 0;
    height: auto;
  }
}

/* XS devices */
@media only screen and (max-width: 600px) {
  #inner-container{
    margin-top: 180px;
  }
  h1{
    font-size: 3em;
  }

  #img-container{
    height: 80vh;
  }

  #aboutMeBodyContainer{
    margin-top: 0;
    height: auto;
  }
}